.button {
    background-color: lightskyblue;
    color: white;
}

.button2{
    background-color: yellow;
    
}

.button, .button2 {
    font-size: 28px;
    font-family: Helvetica, Times New Roman, sans-serif;

}

.div1 {
    color: lightpink;
    font-family: Verdana, Dejavu Sans, sans-serif;


}

#id {
    color: blue;
    font-size: 36px;

}
 .avatar.proportioned {
     width: 300px;
     height: auto;
     
 }

 .avatar ~ .distorted {
    width: 200px;
    height: 400px;

 }